@page
@model IndexModel

@* This marks the file as a Razor Page that handles requests at the root URL ("/") *@
@* It also connects this page to the C# backend class called IndexModel *@

@{
    ViewData["Title"] = "Home page"; // This sets the title in the browser tab
}

<!-- This is a centered header section that welcomes users -->
<div class="text-center">
    <h1 class="display-4">Hala Madrid!</h1> <!-- Large header text -->
    <p>
        Learn about 
        <a href="https://learn.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>

<!-- This section displays the list of products as styled cards using Bootstrap classes -->
<div class="card-columns">
    @* Loop through each product in the list passed from the Index.cshtml.cs file *@
    @foreach (var product in Model.Products!)
    {
        <div class="card">
            @* Set the background image of the card using the product's image URL *@
            <div class="card-img" style="background-image: url('@product.Image')"></div>

            @* This contains the product title (you could add more like description/ratings here) *@
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
        </div>
    }
</div>
