@page
@using MyWebApp.Components
@model IndexModel

@* This marks the file as a Razor Page that handles requests at the root URL ("/") *@
@* It also connects this page to the C# backend class called IndexModel *@

@{
    ViewData["Title"] = "Home page"; // This sets the title in the browser tab
}

<!-- This is a centered header section that welcomes users -->
<div class="text-center">
    <h1 class="display-4">Hala Madrid!</h1> <!-- Large header text -->
    <p>
        Learn about 
        <a href="https://learn.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>